services:
  n8n:
    image: docker.n8n.io/n8nio/n8n:latest
    container_name: n8n
    restart: unless-stopped
    ports:
      - "{{ app_port }}:{{ app_port }}"
    environment:
      - N8N_HOST={{ ansible_host }}
      - N8N_PORT={{ app_port }}
      - N8N_PROTOCOL=http
      - WEBHOOK_URL=http://{{ ansible_host }}:{{ app_port }}/
    volumes:
      - n8n_data:/home/node/.n8n

volumes:
  n8n_data: